<h1>Ingreso de recetas</h1>
<form action="/recipes" method="post">
  <label for="fname">Nombre de la receta:</label><br>
  <input type="text" id="name" name="name1" value="Bomb칩n suizo"><br>
  <label for="lname">Descripci칩n de la receta:</label><br>
  <input type="text" id="description" name="description1" value="F치cil de realizar"><br>
  <label for="lname">Tiempo de preparaci칩n:</label><br>
  <input type="text" id="time" name="time1" value="20 min"><br><br>
  <input type="submit" value="Enviar">
</form>
